In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("onlinefraud.csv")

In [3]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [4]:
df.describe

<bound method NDFrame.describe of          step      type      amount     nameOrig  oldbalanceOrg  \
0           1   PAYMENT     9839.64  C1231006815      170136.00
1           1   PAYMENT     1864.28  C1666544295       21249.00
2           1  TRANSFER      181.00  C1305486145         181.00
3           1  CASH_OUT      181.00   C840083671         181.00
4           1   PAYMENT    11668.14  C2048537720       41554.00
...       ...       ...         ...          ...            ...
6362615   743  CASH_OUT   339682.13   C786484425      339682.13
6362616   743  TRANSFER  6311409.28  C1529008245     6311409.28
6362617   743  CASH_OUT  6311409.28  C1162922333     6311409.28
6362618   743  TRANSFER   850002.52  C1685995037      850002.52
6362619   743  CASH_OUT   850002.52  C1280323807      850002.52

         newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  \
0             160296.36  M1979787155            0.00            0.00        0
1              19384.72  M2044282225            0.00            0.00        0
2                  0.00   C553264065            0.00            0.00        1
3                  0.00    C38997010        21182.00            0.00        1
4              29885.86  M1230701703            0.00            0.00        0
...                 ...          ...             ...             ...      ...
6362615            0.00   C776919290            0.00       339682.13        1
6362616            0.00  C1881841831            0.00            0.00        1
6362617            0.00  C1365125890        68488.84      6379898.11        1
6362618            0.00  C2080388513            0.00            0.00        1
6362619            0.00   C873221189      6510099.11      7360101.63        1

         isFlaggedFraud
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
6362615               0
6362616               0
6362617               0
6362618               0
6362619               0

[6362620 rows x 11 columns]>

In [5]:
df.shape

(6362620, 11)

In [6]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [7]:
df.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

In [8]:
df['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [9]:
# Perform one-hot encoding on the 'type' column
df = pd.get_dummies(df, columns=['type'], prefix='type')

# Display the updated DataFrame
print(df.head())

   step    amount     nameOrig  oldbalanceOrg  newbalanceOrig     nameDest  \
0     1   9839.64  C1231006815       170136.0       160296.36  M1979787155
1     1   1864.28  C1666544295        21249.0        19384.72  M2044282225
2     1    181.00  C1305486145          181.0            0.00   C553264065
3     1    181.00   C840083671          181.0            0.00    C38997010
4     1  11668.14  C2048537720        41554.0        29885.86  M1230701703

   oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud  type_CASH_IN  \
0             0.0             0.0        0               0             0
1             0.0             0.0        0               0             0
2             0.0             0.0        1               0             0
3         21182.0             0.0        1               0             0
4             0.0             0.0        0               0             0

   type_CASH_OUT  type_DEBIT  type_PAYMENT  type_TRANSFER
0              0           0             1              0
1              0           0             1              0
2              0           0             0              1
3              1           0             0              0
4              0           0             1              0

In [10]:
df.head()

,step,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,0,0,0,1,0
1,1,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,0,0,0,1,0
2,1,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,0,0,0,0,1
3,1,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,0,1,0,0,0
4,1,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,0,0,0,1,0

In [11]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06,2.199226e-01,3.516633e-01,6.511783e-03,3.381461e-01,8.375622e-02
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03,4.141940e-01,4.774895e-01,8.043246e-02,4.730786e-01,2.770219e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [12]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Select the numerical columns to be scaled
numerical_columns = ['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest']

# Fit the scaler to the numerical data and transform it
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

# Display the scaled DataFrame
print(df.head())

       step    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0 -1.703042 -0.281560  C1231006815      -0.229810       -0.237622
1 -1.703042 -0.294767  C1666544295      -0.281359       -0.285812
2 -1.703042 -0.297555  C1305486145      -0.288654       -0.292442
3 -1.703042 -0.297555   C840083671      -0.288654       -0.292442
4 -1.703042 -0.278532  C2048537720      -0.274329       -0.282221

      nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud  \
0  M1979787155       -0.323814       -0.333411        0               0
1  M2044282225       -0.323814       -0.333411        0               0
2   C553264065       -0.323814       -0.333411        1               0
3    C38997010       -0.317582       -0.333411        1               0
4  M1230701703       -0.323814       -0.333411        0               0

   type_CASH_IN  type_CASH_OUT  type_DEBIT  type_PAYMENT  type_TRANSFER
0             0              0           0             1              0
1             0              0           0             1              0
2             0              0           0             0              1
3             0              1           0             0              0
4             0              0           0             1              0

In [13]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler to the numerical data and transform it
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

# Display the scaled DataFrame
print(df.head())

   step    amount     nameOrig  oldbalanceOrg  newbalanceOrig     nameDest  \
0   0.0  0.000106  C1231006815       0.002855        0.003233  M1979787155
1   0.0  0.000020  C1666544295       0.000357        0.000391  M2044282225
2   0.0  0.000002  C1305486145       0.000003        0.000000   C553264065
3   0.0  0.000002   C840083671       0.000003        0.000000    C38997010
4   0.0  0.000126  C2048537720       0.000697        0.000603  M1230701703

   oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud  type_CASH_IN  \
0        0.000000             0.0        0               0             0
1        0.000000             0.0        0               0             0
2        0.000000             0.0        1               0             0
3        0.000059             0.0        1               0             0
4        0.000000             0.0        0               0             0

   type_CASH_OUT  type_DEBIT  type_PAYMENT  type_TRANSFER
0              0           0             1              0
1              0           0             1              0
2              0           0             0              1
3              1           0             0              0
4              0           0             1              0

In [14]:
df.describe

<bound method NDFrame.describe of          step    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0         0.0  0.000106  C1231006815       0.002855        0.003233
1         0.0  0.000020  C1666544295       0.000357        0.000391
2         0.0  0.000002  C1305486145       0.000003        0.000000
3         0.0  0.000002   C840083671       0.000003        0.000000
4         0.0  0.000126  C2048537720       0.000697        0.000603
...       ...       ...          ...            ...             ...
6362615   1.0  0.003674   C786484425       0.005701        0.000000
6362616   1.0  0.068272  C1529008245       0.105923        0.000000
6362617   1.0  0.068272  C1162922333       0.105923        0.000000
6362618   1.0  0.009195  C1685995037       0.014265        0.000000
6362619   1.0  0.009195  C1280323807       0.014265        0.000000

            nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud  \
0        M1979787155        0.000000        0.000000        0               0
1        M2044282225        0.000000        0.000000        0               0
2         C553264065        0.000000        0.000000        1               0
3          C38997010        0.000059        0.000000        1               0
4        M1230701703        0.000000        0.000000        0               0
...              ...             ...             ...      ...             ...
6362615   C776919290        0.000000        0.000954        1               0
6362616  C1881841831        0.000000        0.000000        1               0
6362617  C1365125890        0.000192        0.017912        1               0
6362618  C2080388513        0.000000        0.000000        1               0
6362619   C873221189        0.018286        0.020664        1               0

         type_CASH_IN  type_CASH_OUT  type_DEBIT  type_PAYMENT  type_TRANSFER
0                   0              0           0             1              0
1                   0              0           0             1              0
2                   0              0           0             0              1
3                   0              1           0             0              0
4                   0              0           0             1              0
...               ...            ...         ...           ...            ...
6362615             0              1           0             0              0
6362616             0              0           0             0              1
6362617             0              1           0             0              0
6362618             0              0           0             0              1
6362619             0              1           0             0              0

[6362620 rows x 15 columns]>

In [15]:
from sklearn.model_selection import train_test_split

# Define features (X) and target variable (y)
X = df.drop(['isFraud'], axis=1)  # Features (excluding the target variable)
y = df['isFraud']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting sets
print("Training set shape:", X_train.shape, y_train.shape)
print("Testing set shape:", X_test.shape, y_test.shape)

Training set shape: (5090096, 14) (5090096,)
Testing set shape: (1272524, 14) (1272524,)

In [16]:
# Drop the 'nameOrig' and 'nameDest' columns
X_train.drop(['nameOrig', 'nameDest'], axis=1, inplace=True)
X_test.drop(['nameOrig', 'nameDest'], axis=1, inplace=True)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Initialize the Logistic Regression model
logistic_regression_model = LogisticRegression(max_iter=1000)

# Train the model
logistic_regression_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_lr = logistic_regression_model.predict(X_test)

# Calculate accuracy score
accuracy_lr = accuracy_score(y_test, y_pred_lr)

# Print the accuracy score
print("Logistic Regression Accuracy:", accuracy_lr)

Logistic Regression Accuracy: 0.9988298845444172

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Initialize the models
models = {
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
}

# Train and evaluate each model
for name, model in models.items():
    # Train the model
    model.fit(X_train, y_train)
    
    # Make predictions on the test set
    y_pred = model.predict(X_test)
    
    # Calculate accuracy score
    accuracy = accuracy_score(y_test, y_pred)
    
    # Print the accuracy score
    print(f"{name} Accuracy:", accuracy)

Decision Tree Accuracy: 0.999718669353191
Random Forest Accuracy: 0.9997194551929866

In [19]:
import pickle

# Save the Random Forest model using pickle
random_forest_model = models['Random Forest']
with open("random_forest_model.pkl", "wb") as file:
    pickle.dump(random_forest_model, file)

In [21]:
import sklearn
print(sklearn.__version__)

1.2.2

# API Testing

In [22]:
import requests

# URL of the API endpoint
url = "http://127.0.0.1:8000/predict"

# Sample input data
data = {
    "step": 1.0,
    "amount": 1000.0,
    "oldbalanceOrg": 5000.0,
    "newbalanceOrig": 4000.0,
    "oldbalanceDest": 0.0,
    "newbalanceDest": 0.0,
    "isFlaggedFraud": 0,
    "type_CASH_IN": 0,
    "type_CASH_OUT": 1,
    "type_DEBIT": 0,
    "type_PAYMENT": 0,
    "type_TRANSFER": 0
}

# Send POST request to the API
response = requests.post(url, json=data)

# Print the response
print(response.json())

{'prediction': 1}